@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background: #33334d;
    align-items: center;
    padding: 20px 10%;
    height: 75px;
}

.logo {
    cursor: pointer;
}

.input {
    padding: 10px;
    width: 855px;
    border-radius: 4px;
}

button {
    padding: 11px 22px;
    background-color: #120447;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #1AD8E9;
}

.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style: none;
    line-height: normal;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li a {
    text-decoration: none;
    background: #120447;
    color: #E91AC9;
    padding: 4px 10px;
    border-radius: 18px;
}

.timeline ul li a:hover {
    background: #120447;
    color: #1AD8E9;
    font-weight: bold;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.content {
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgba(233, 33, 99, 1);
}

.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
}

.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

.search-list {
    position: relative;
}

form.search-list input:active {
    background: #ffffff;
}

form.search-list input {
    width: 80%;
    border-radius: 15px;
    height: 33px;
    padding: 0px 18px;
    outline: none;
    border-color: #d3d3d3;
    border-width: thin;
}

form.seach-list input {
    width: 100%;
    border-radius: 15px;
    height: 33px;
    padding: 0px 18px;
    outline: none;
    border-color: #d3d3d3;
    border-width: thin;
}

form.seach-list input:active {
    background: #ffffff;
}

ul#myUL li {
    width: 80%;
    position: relative;
    display: none;
}

ul#myUL li a:hover {
    color: #323131fa;
    background: #b2bfbf;
    font-weight: bold;
}

ul#myUL li a {
    border: 1px solid #ddd;
    BOX-SHADOW: 0 0 black;
    background-color: #fff;
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding: 14px 32px;
    display: block;
    margin: 0px -11px;
}

ul#myUL {
    width: 100%;
    padding: 0px 144px 12px 40px;
    margin: 0px 49px;
}

ul#myUL {
    padding: 0px 144px 12px 40px;
    margin: 0px 49px;
    position: absolute;
    width: 100%;
}

ul#myUL li {
    position: relative;
    display: none;
}

form.seach-list {
    display: inline-block;
}

.search-list {
        margin: -20px 215px;
}

input#myInput1 {
    width: 700px;
}

section.chose-size {
    padding: 0px 89px;
    top: -249px;
    border: 1px solid;
    background: #fff;
    box-shadow: 0px 1px 0.8px 0.5px;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: scroll;
}

.close-out {
    z-index: 10000000;
    position: absolute !important;
    top: 182px !important;
    left: 818px;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
    margin: -16px -69px;
}

table#table-col {
    background: #fff;
    position: absolute;
    width: 100%;
    top: 175px;
    left: 356px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0px 1px 1px 0px #fff;
}

.open-size {
    display: block !important;
}

.close-size {
    display: none !important;
}   

.open-body {
    overflow: hidden;
}

i.fas.fa-times {
    color: black;
}

.close-body {
    overflow-y: scroll !important;
}

.open-help {
    display: block !important;
}

.open-sub-info {
    position: inherit !important;
}

.go-hel {
    /* transform: translate(-50%, 2%) !important; */
    transform: translateY(183px) !important;
    transition: transform .3s ease-out !important;
}

.close-sub-info {
    position: sticky !important;
}

table#table-col tr td {
    font-size: 14px;
    padding: 10px 1px;
}

table#table-col tr th {
    font-size: 15px;
    padding: 19px 22px;
    text-align: center;
}