* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    padding: 20px;
    color: currentcolor;
    font-weight: 600;
}

.page {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/BaiCo.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}


/*.register {
    background: #2d85b0;
    width: 400px;
    margin: 0 0 0 530px;
    overflow: hidden;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
}*/

.register {
    background: linear-gradient(45deg, black, transparent);
    width: 400px;
    margin: 255px 0 0 530px;
    overflow: hidden;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
}

#register {
    margin-left: 50px;
}

label {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
}

#types {
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}

#go {
    width: 150px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}

#come {
    width: 150px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}

#time {
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}

#add {
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}

#schedule {
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}

#vehicle {
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}

#price {
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}

#upload {
    width: 150px;
    padding: 7px;
    border: none;
    border-radius: 3px;
    outline: 0;
    margin: 0px 81px;
}

.schedule {
    resize: none;
    height: 100px;
}

.image-preview {
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}

.image-preview__image {
    display: none;
    width: 100%;
}