/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
    height: 100%;
}


/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.control-left-wrapper {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 60px;
    cursor: pointer;
    margin: 14px 10px 0;
}